
*{
    font-family: "Inter",Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topTop{
    background-color: rgb(216, 211, 211);
    width:100%;
    height:100%;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.topTop1{
    width:100%;
    background-color: #ffffff;
    margin: 20px;
    margin-top: 30px;
   
}



.tablesa{
    border-collapse: collapse;
    width:100%;
    /* border:1px solid #000000; */
}

.topTbale{
    /* border:1px solid #000000; */
    border-bottom: 0;
    padding:5px 5px;
    text-wrap: wrap;
    font-size: 12px;
}

.revenueTable{
    text-align: left;
    /* border:1px solid #000000; */
    padding:10px 10px;
    padding-left: 60px;
    /* border-right:1px solid #000000; */
}

.revenueTable1{
    text-align: left;
    /* border:1px; */
    /* border-right:1px solid #000000; */
    padding:10px 10px;
    padding-left: 60px;
}
.IncomeStat{
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.tableTRt{
    /* border:1px solid #000000; */
}
.company{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin: 0;
    padding-left: 60px;
}

.bodytrx{
    align-items: center;
    text-align: left;
    font-weight: 300;
    font-size: 15px;
    padding-left: 20px;
    margin-left:20px;
   
}

.bodytrx th{
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-right:1px solid #000000; */
}

.topProvince{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.topYouth{
    margin: 0;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 5px;
}

.topBalance{
    margin: 0;
    font-size: 12px;
}

.topTbale1{
    /* border:1px solid #000000; */
    border-left: 0;
    border-bottom: 0;
}